# Database
DATABASE_URL=postgresql+asyncpg://<USER_NAME>:<PASSWORD>@localhost:5432/website_monitor

# Email (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
EMAIL_FROM=your-email@gmail.com
EMAIL_TO=recipient@gmail.com

# App
APP_ENV=development
